#
# 本配置为自动生成，请前往 config.yaml 修改；不要手动更改本文件。
#
infisical:
  address: "{{ .Host }}"

auth:
  type: "universal-auth"
  config:
    client-id: "/config/client-id"
    client-secret: "/config/client-secret"
    remove_client_secret_on_read: false

templates:
{{- range .Services }}
  # ===== {{ . }} =====
  - destination-path: /infisical-secrets/{{ . }}.env
    template-content: |
      {{"{{"}}- with secret "{{ $.ProjectID }}" "{{ $.Environment }}" "{{ secretPath $.RootFolder . }}" {{"}}"}}
      {{"{{"}}- range . {{"}}"}}
      {{"{{"}}- if .Comment {{"}}"}}
      # {{"{{"}} .Comment {{"}}"}}
      {{"{{"}} end -{{"}}"}}
      {{"{{"}} .Key {{"}}"}}='{{"{{"}} .Value | replace "'" "\\'" {{"}}"}}'

      {{"{{"}} end -{{"}}"}}
      {{"{{"}}- end {{"}}"}}
    config:
      polling-interval: {{ $.PollingInterval }}
{{ end }}

